---
title: Welcome to Middleman
---


<h1>
  Middleman is Running
</h1>

<ul>
<% diary_dates.each do |id, diaryDate| %>
  <li><%= diaryDate.description %></li>
<% end %>
</ul>

<% articles.each do |id, article| %>
  <div>
    <%= article.title %>
    <% unless article.pictures.nil? %>
      <% article.pictures.each do |p| %>
        <%= image_tag("https://res.cloudinary.com/willowtree/image/fetch/f_auto,q_auto/https:#{p.url}") %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= image_tag("https://res.cloudinary.com/willowtree/image/fetch/f_auto,q_auto/https:#{school.logo.url}", alt: school.logo.title) %>
