---
title: Welcome to Middleman
---


<h1>
  Middleman is Running
</h1>

<ul>
<% diary_dates.each do |id, diaryDate| %>
  <li><%= diaryDate.description %></li>
<% end %>
</ul>

<ul>
<% articles.each do |id, article| %>
  <li><%= article.title %></li>
<% end %>
</ul>

<%= image_tag(school.logo.url, alt: school.logo.title) %>
