---
title: Welcome to Middleman
---


<h1>
  Middleman is Running
</h1>

<ul>
<% data.willowtree.diaryDates.each do |id, diaryDate| %>
  <li><%= diaryDate["description"] %></li>
<% end %>
<% data.willowtree.school.each do |id, diaryDate| %>
  <li><%= diaryDate["name"] %></li>
<% end %>
<%= data.willowtree.school.first[1].name %>
</ul>
